.text-warning{
    color: rgb(255, 255, 255) !important;
}

.p{
    color: rgb(255, 255, 255) !important;
}

.navbar-brand{
    color: rgb(255, 255, 255) !important;
    margin-left: 10px;
}

.card-title{
    color: rgb(255, 255, 255) !important;
}

.card-text{
    color: rgb(255, 255, 255) !important;
}

.bg-secondary{
    background-color: rgb(255, 0, 0) !important;
}

.background1{
    background-color: rgb(84, 148, 20) !important;
}

.footer{
    margin-top: 90px !important;
}